

<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">나의 스캐치</h4>

      <button style="float: right;" type="button" class="btn btn-danger btn-rounded btn-fw">New+</button>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              Shortcut
            </th>
            <th>
              Block name
            </th>
            <th>
              Status
            </th>
            <th>
              Sketch File
            </th>
            <th>
              Revision
            </th>
            <th>
              Update
            </th>
            <th>
              편집
            </th>
            <th>
              삭제
            </th>
          </tr>
        </thead>
        <tbody>
          <% for (var i = 0; i < list.length; i++) { %>

            <%
              var targetComponent = "NOT YET";
              var entityRule = list[i]['entityRule'];
              for (var j = 0; j < entityRule.length; j++) {
                if(entityRule[j]['type'] == 'targetComponent')
                  targetComponent = entityRule[j]['value']['select2'];
              }
            %>
              <tr>
                <td class="py-1">
                  <img src="file/<%=list[i]['key']%>/<%=list[i]['revision']%>/previews/preview.png" alt="image"/>
                </td>
                <td>
                  <a href="/detail?key=<%=list[i]['key']%>&revision=<%=list[i]['revision']%>">
                    <%=targetComponent%>
                  </a>
                </td>
                <td>
                  <label class="badge badge-danger">Draft</label>
                </td>
                <td>
                  <a href="/downloadSketch?key=<%=list[i]['key']%>&revision=<%=list[i]['revision']%>">
                    <i class="fa fa-cloud-download"></i> Download
                  </a>
                </td>
                <td>
                  <%=list[i]['revision']%>
                </td>
                <td>
                  <%=new Date(Number.parseInt(list[i]['update'])).toISOString();%>
                </td>
                <td>
                  <a href="/detail?key=<%=list[i]['key']%>&revision=<%=list[i]['revision']%>">
                  <button type="submit" class="btn btn-secondary">블록상세>></button>
                  </a>
                </td>

                <td>
                  <a href="/delete?key=<%=list[i]['key']%>&revision=<%=list[i]['revision']%>">
                  <button type="submit" class="btn btn-danger">삭제</button>
                  </a>
                </td>
              </tr>
          <%}%>
        </tbody>
      </table>
    </div>
  </div>
</div>
