<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">나의 스캐치</h4>
      <p class="card-description">
        내가 관리하는 스케치<code></code>
      </p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              Shortcut
            </th>
            <th>
              Block name
            </th>
            <th>
              Author
            </th>
            <th>
              Status
            </th>
            <th>
              Sketch File
            </th>
            <th>
              Revision
            </th>
            <th>
              Update
            </th>
            <th>
              Detail
            </th>
          </tr>
        </thead>
        <tbody>
          <% for (var i = 0; i < list.length; i++) { %>

            <%
              var targetComponent = "NOT YET";
              var entityRule = list[i]['entityRule'];
              for (var j = 0; j < entityRule.length; j++) {
                if(entityRule[j]['type'] == 'targetComponent')
                  targetComponent = entityRule[j]['value']['select1'];
              }
            %>
              <tr>
                <td class="py-1">
                  <img src="../../images/faces-clipart/pic-1.png" alt="image"/>
                </td>
                <td>
                  <a href="/detail?key=<%=list[i]['key']%>&revision=<%=list[i]['revision']%>">
                    <%=targetComponent%>
                  </a>
                </td>
                <td>
                  <%=list[i]['author']%>
                </td>
                <td>
                  <label class="badge badge-danger">Draft</label>
                </td>
                <td>
                  <a href="/downloadSketch?key=<%=list[i]['key']%>&revision=<%=list[i]['revision']%>">
                    <i class="fa fa-cloud-download"></i> Download
                  </a>
                </td>
                <td>
                  <%=list[i]['revision']%>
                </td>
                <td>
                  <%=new Date(Number.parseInt(list[i]['update'])).toISOString();%>
                </td>
                <td>
                  <a href="/detail?key=<%=list[i]['key']%>&revision=<%=list[i]['revision']%>">
                  >>
                  </a>
                </td>

              </tr>
          <%}%>
        </tbody>
      </table>
    </div>
  </div>
</div>
