
<link rel="stylesheet" type="text/css" href="js/jsontree/jsoneditor.css"/>
<script src="js/jsontree/jquery.jsoneditor.js"></script>

<div class="row">
  <div class="col-lg-6 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          <a href="javascript:previewPrev();">
            <<이전
          </a>
          미리보기
          <a href="javascript:previewNext();">
            다음>>
          </a>

        </h4>
        <div id="preview_container" style='position:relative;flex-wrap:wrap;outline: 1px dashed red;'>

          <script>
          var data_index = 20000;
          function previewPrev()
          {
            preview(--data_index);
          }
          function previewNext()
          {
            preview(++data_index);
          }
          function preview(data_index)
          {
            $.ajax({
              url: "/detail_preview?key=<%=entity['key']%>&revision=<%=entity['revision']%>&data_index="+ data_index
            }).done(function(res) {
              $('#preview_container' ).html( res );
            });
          };
          $(function(){
            preview(0);
          });
          </script>

        </div>
      </div>
    </div>
  </div>


  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">룰 인스턴스</h4>
        <p class="card-description">
          현재 스캐치에 적용되는 룰
        </p>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>
                type
              </th>
              <th>
                값1
              </th>
              <th>
                값2
              </th>
              <th>
                값3
              </th>
              <th>
                수정
              </th>
              <th>
                삭제
              </th>
            </tr>
          </thead>
          <tbody>
            <script>
              function ruleDelete(ruleId)
              {
                if(confirm('삭제하시겠습니까?'))
                {
                  var url = "/detail_rule_delete?key=<%=entity['key']%>&revision=<%=entity['revision']%>&ruleId="+ruleId;
                  document.location.href = url;
                }
              };
            </script>
            <% for (var i = 0; i < ruleInstance.length; i++) { %>
              <tr>
                <td>
                  <%
                    var icon = null;
                    for(var j=0;j<rules.length;j++)
                    {
                      if(rules[j]['type'] == ruleInstance[i]['type'])
                      {
                        icon = rules[j]['icon'];
                        break;
                      }
                    }
                  %>
                  <i class="fa <%=icon%>"/>
                </td>
                <td>
                  <%=ruleInstance[i]['value']['select1']%>
                </td>
                <td>
                  <%=ruleInstance[i]['value']['select2']%>
                </td>
                <td>
                  <%=ruleInstance[i]['value']['select3']%>
                </td>
                <td>
                  <a href="javascript:ruleFormLoad('<%=ruleInstance[i]['type']%>', '<%=ruleInstance[i]['ruleId']%>');">
                    <button type="button" class="btn btn-warning mr-2">수정</button>
                  </a>
                </td>
                <td>
                  <a href="javascript:ruleDelete('<%=ruleInstance[i]['ruleId']%>');">
                    <button type="button" class="btn btn-danger mr-2">삭제</button>
                  </a>
                </td>
              </tr>
            <%}%>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%
  var targetComponentRuleId = null;
  for(var i=0;i<ruleInstance.length;i++)
  {
    if('targetComponent' == ruleInstance[i]['type'])
    {
      targetComponentRuleId = ruleInstance[i]['ruleId'];
      break;
    }
  }
%>

<div class="row">
  <div class="col-lg-4 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">룰 판넬</h4>
        <div class="icons-list row">
          <% for (var i = 0; i < rules.length; i++) { %>
            <div class="col-sm-8 col-md-4 col-lg-4">
              <%if(rules[i]['type'] == 'targetComponent' && targetComponentRuleId != null){%>
                <a href="javascript:ruleFormLoad('<%=rules[i]['type']%>', '<%=targetComponentRuleId%>');">
              <%}else{%>
                <a href="javascript:ruleFormLoad('<%=rules[i]['type']%>', null);">
              <%}%>

                <i class="fa <%=rules[i]['icon']%>"></i><%=rules[i]['name']%>
              </a>
            </div>
          <%}%>
        </div>
      </div>
    </div>
  </div>

  <script>
  function ruleFormLoad(type, ruleId)
  {
    $.ajax({
      url: "/detail_rule_form?key=<%=entity['key']%>&revision=<%=entity['revision']%>&type="+ type +"&ruleId="+ruleId
    }).done(function(res) {
      $('#ruleDetailContainer' ).html( res );
    });
  };

  $(function(){
    ruleFormLoad('targetComponent', <%-targetComponentRuleId!=null? "'"+targetComponentRuleId+"'":"null"%>);

    $( "#sketchSelector" ).dialog({
      autoOpen: false,
      width: 600,
      height: 500,
      title: 'sketch 노드 선택',
    });

    $( "#blockSelector" ).dialog({
      autoOpen: false,
      width: 600,
      height: 500,
      title: '블록 선택',
    });

    $( "#dataSelector" ).dialog({
      autoOpen: false,
      width: 600,
      height: 500,
      title: '데이터 선택',
    });
  });

  var gcallbackInputId = '';
  function pickSketch(callbackInputId)
  {
    gcallbackInputId = callbackInputId;
    $( "#sketchSelector" ).dialog( "open" );
  }

  function convertBlockJson(srcJson, outJson)
  {
    var name = srcJson['name'];
    if(name == undefined)
      name = srcJson['type'];
    console.log('name = ' + name);
    if(srcJson['blocks'] != undefined && srcJson['blocks'].length != undefined && srcJson['blocks'].length > 0)
    {
      outJson[name] = [];
      var layers = srcJson['blocks'];
      for (var i=0;i<layers.length;i++)
      {
        var a = {};
        convertBlockJson(layers[i], a);
        outJson[name][i] = a;
      }
    }
    else {
      outJson[name] = srcJson['type'];
    }

  }
  function pickBlock(callbackInputId)
  {
    gcallbackInputId = callbackInputId;

    $.ajax({
      url: "/blocks"
    }).done(function(res) {
      var opt = {
          change: function(data) { /* called on every change */ },
          propertyclick: function(path) {
            if(confirm('선택하시겠습니까?'))
            {
                $('#blockSelector').dialog("close");

                console.log(Object.prototype.toString.call(path));
                console.log(path);
                var res = path.split("][");
                vv = res[res.length-1];
                vv = vv.split("]")[0];
                vv = vv.replace(/'/g , "");
                vv = vv.replace('[' , "");
                $('#'+gcallbackInputId).val(vv);
            }
          },
          sketchMode : true
      };
      var out = [];
      for(var i=0;i<res.length;i++){
        out[i] = {};
        convertBlockJson(res[i], out[i]);
      }
      console.log(out);
      $('#block_holder').jsonEditor(out, opt);
      $("#blockSelector").dialog( "open" );
    });
  }

  function isObject(o) { return Object.prototype.toString.call(o) == '[object Object]'; }
  function convertDataJson(srcJson)
  {
    if (!isObject(srcJson))
      return;
    for (var key in srcJson) {
      if(key == 'logData' || key.startsWith('PUI_') || key == 'APP_CARRIER_KEY' || key == 'underLine'
        || key == 'innerLine')
        srcJson[key] = undefined;
      if (isObject(srcJson[key])) {
        convertDataJson(srcJson[key]);
      }
    }
  }
  function pickData(callbackInputId)
  {
    gcallbackInputId = callbackInputId;

    $.ajax({
      url: "/sampleData?key=<%=entity['key']%>&revision=<%=entity['revision']%>&index="+0
    }).done(function(res) {
      var opt = {
          change: function(data) { /* called on every change */ },
          propertyclick: function(path) {
            if(confirm('선택하시겠습니까?'))
            {
                $('#dataSelector').dialog("close");

                console.log(Object.prototype.toString.call(path));
                console.log(path);
                var res = path.split("][");
                vv = res[res.length-1];
                vv = vv.split("]")[0];
                vv = vv.replace(/'/g , "");
                vv = vv.replace('[' , "");
                $('#'+gcallbackInputId).val(vv);
            }
          },
          sketchMode : false
      };
      convertDataJson(res);
      $('#data_holder').jsonEditor(res, opt);
      $("#dataSelector").dialog( "open" );
    });
  }

  </script>
  <div id='ruleDetailContainer' class="col-lg-8 grid-margin">
  </div>

</div>
<div class="row">

</div>




<div id='sketchSelector' style='overflow: scroll;'>
      <div class="card">
        <div class="card-body">
          expand all | close all
          <div id='editor_holder' class='json-editor'></div>

          <script>

            function convertSelector(cloudJson, cloudJsonSelector)
            {
              var name = cloudJson['name'];
              if(cloudJson['layers'] != undefined && cloudJson['layers'].length != undefined && cloudJson['layers'].length > 0)
              {
                cloudJsonSelector[name] = [];
                var layers = cloudJson['layers'];
                for (var i=0;i<layers.length;i++)
                {
                  var a = {};
                  convertSelector(layers[i], a);
                  cloudJsonSelector[name][i] = a;
                }
              }
              else {
                cloudJsonSelector[name] = cloudJson['_class'];
              }

            }
            var cloudJson = <%-entity['cloudJson']%>;
            var cloudJsonSelector = {};
            convertSelector(cloudJson, cloudJsonSelector);
            var opt = {
                change: function(data) { /* called on every change */ },
                propertyclick: function(path) {
                  if(confirm('선택하시겠습니까?'))
                  {
                      $('#sketchSelector').dialog("close");

                      console.log(Object.prototype.toString.call(path));
                      console.log(path);
                      var res = path.split("][");
                      vv = res[res.length-1];
                      vv = vv.split("]")[0];
                      vv = vv.replace(/'/g , "");
                      vv = vv.replace('[' , "");
                      $('#'+gcallbackInputId).val(vv);
                  }
                },
                sketchMode : true
            };
            /* opt.propertyElement = '<textarea>'; */ // element of the property field, <input> is default
            /* opt.valueElement = '<textarea>'; */  // element of the value field, <input> is default
            $('#editor_holder').jsonEditor(cloudJsonSelector, opt);
          </script>
        </div>
      </div>
</div>



<div id='blockSelector' style='overflow: scroll;'>
      <div class="card">
        <div class="card-body">
          expand all | close all
          <div id='block_holder' class='json-editor'></div>
        </div>
      </div>
</div>


<div id='dataSelector' style='overflow: scroll;'>
      <div class="card">
        <div class="card-body">
          expand all | close all
          <div id='data_holder' class='json-editor'></div>
        </div>
      </div>
</div>
