
<link rel="stylesheet" type="text/css" href="js/jsontree/jsoneditor.css"/>
<script src="js/jsontree/jquery.jsoneditor.js"></script>

<div class="row">
  <div class="col-lg-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          미리보기
          <a href="/detail_preview?key=<%=entity['key']%>&revision=<%=entity['revision']%>">
            전체화면>>
          </a>
        </h4>
        <div style='position:relative;height:280px;width:280px;outline: 1px dashed red;'>
          <%-entity['cloudHtml']%>
        </div>
      </div>
    </div>
  </div>

</div>



<div class="row">
  <div class="col-lg-4 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">룰 판넬</h4>
        <div class="icons-list row">
          <% for (var i = 0; i < rules.length; i++) { %>
            <div class="col-sm-8 col-md-4 col-lg-4">
              <a href="javascript:ruleFormLoad('<%=rules[i]['type']%>', null);">
                <i class="fa <%=rules[i]['icon']%>"></i><%=rules[i]['name']%>
              </a>
            </div>
          <%}%>
        </div>
      </div>
    </div>
  </div>

  <script>
  function ruleFormLoad(type, ruleId)
  {
    $.ajax({
      url: "/detail_rule_form?key=<%=entity['key']%>&revision=<%=entity['revision']%>&type="+ type +"&ruleId="+ruleId
    }).done(function(res) {
      $('#ruleDetailContainer' ).html( res );
    });
  };
  <%
    var targetComponentRuleId = null;
    for(var i=0;i<ruleInstance.length;i++)
    {
      if('targetComponent' == ruleInstance[i]['type'])
      {
        targetComponentRuleId = ruleInstance[i]['ruleId'];
        break;
      }
    }
  %>
  $(function(){
    ruleFormLoad('targetComponent', <%-targetComponentRuleId!=null? "'"+targetComponentRuleId+"'":"null"%>);

    $( "#sketchSelector" ).dialog({
      autoOpen: false,
      width: 600,
      height: 500,
      title: 'sketch 노드 선택',
    });
  });

  function pickSketch(callbackInputId)
  {
    $( "#sketchSelector" ).dialog( "open" );
  }

  </script>
  <div id='ruleDetailContainer' class="col-lg-8 grid-margin">
  </div>

</div>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">룰 인스턴스</h4>
        <p class="card-description">
          현재 스캐치에 적용되는 룰
        </p>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>
                type
              </th>
              <th>
                값1
              </th>
              <th>
                값2
              </th>
              <th>
                값3
              </th>
              <th>
                Update
              </th>
              <th>
                수정
              </th>
              <th>
                삭제
              </th>
            </tr>
          </thead>
          <tbody>
            <script>
              function ruleDelete(ruleId)
              {
                if(confirm('삭제하시겠습니까?'))
                {
                  var url = "/detail_rule_delete?key=<%=entity['key']%>&revision=<%=entity['revision']%>&ruleId="+ruleId;
                  document.location.href = url;
                }
              };
            </script>
            <% for (var i = 0; i < ruleInstance.length; i++) { %>
              <tr>
                <td>
                  <%=ruleInstance[i]['type']%>
                </td>
                <td>
                  <%=ruleInstance[i]['value']['select1']%>
                </td>
                <td>
                  <%=ruleInstance[i]['value']['select2']%>
                </td>
                <td>
                  <%=ruleInstance[i]['value']['select3']%>
                </td>
                <td>
                  <%=new Date(Number.parseInt(ruleInstance[i]['update'])).toISOString();%>
                </td>
                <td>
                  <a href="javascript:ruleFormLoad('<%=ruleInstance[i]['type']%>', '<%=ruleInstance[i]['ruleId']%>');">
                    <button type="button" class="btn btn-warning mr-2">수정</button>
                  </a>
                </td>
                <td>
                  <a href="javascript:ruleDelete('<%=ruleInstance[i]['ruleId']%>');">
                    <button type="button" class="btn btn-danger mr-2">삭제</button>
                  </a>
                </td>
              </tr>
            <%}%>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>




<div id='sketchSelector' style='overflow: scroll;'>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Cloud Json</h4>
          expand all | close all
          <div id='editor_holder' class='json-editor'></div>

          <script>

            function convertSelector(cloudJson, cloudJsonSelector)
            {
              var name = cloudJson['name'];


              if(cloudJson['layers'] != undefined && cloudJson['layers'].length != undefined && cloudJson['layers'].length > 0)
              {
                cloudJsonSelector[name] = [];
                var layers = cloudJson['layers'];
                for (var i=0;i<layers.length;i++)
                {
                  var a = {};
                  convertSelector(layers[i], a);
                  cloudJsonSelector[name][i] = a;
                }
              }
              else {
                cloudJsonSelector[name] = cloudJson['_class'];
              }

            }
            var cloudJson = <%-entity['cloudJson']%>;
            var cloudJsonSelector = {};
            convertSelector(cloudJson, cloudJsonSelector);
            var opt = {
                change: function(data) { /* called on every change */ },
                propertyclick: function(path) {
                  if(confirm('선택하시겠습니까?'))
                  {
                      $('#sketchSelector').dialog("close");
                  }
                }
            };
            /* opt.propertyElement = '<textarea>'; */ // element of the property field, <input> is default
            /* opt.valueElement = '<textarea>'; */  // element of the value field, <input> is default
            $('#editor_holder').jsonEditor(cloudJsonSelector, opt);
          </script>
        </div>
      </div>
</div>
